/* src/app/training/TrainingPage.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #e9f1ff; 
  color: #424241;
  text-align: center;
  flex-direction: column; /* Center children vertically */
}

.buttonsContainer {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
}

.button {
  display: inline-block;
  margin: 0 10px; /* Margin for horizontal spacing */
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #0070f3;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
